# Copy to .env after migration (migrateToSelfHosted.sh generates this automatically)
IMMICH_UPLOAD_LOCATION=/home/dedsec995/Desktop/selfHosted/immich/library
IMMICH_DB_DATA_LOCATION=/home/dedsec995/Desktop/selfHosted/immich/postgres
IMMICH_PUBLIC_SPACE=/home/dedsec995/Desktop/selfHosted/jellyfin/media/publicSpace
IMMICH_PORT=2283
IMMICH_VERSION=release
IMMICH_DB_PASSWORD=changeMeToRandomAlphanumeric
IMMICH_DB_USERNAME=postgres
IMMICH_DB_NAME=immich
IMMICH_PUBLIC_URL=https://photos.thatinsaneguy.com
IMMICH_DOMAIN=photos.thatinsaneguy.com
TZ=Etc/UTC
