# Copy to .env after migration (or edit paths manually)
JELLYFIN_UID=1000
JELLYFIN_GID=1000
JELLYFIN_CONFIG_PATH=/home/dedsec995/Desktop/selfHosted/jellyfin/config
MEDIA_PATH=/home/dedsec995/Desktop/selfHosted/jellyfin/media
JELLYFIN_DOMAIN=streaming.thatinsaneguy.com
